.loader {
    border: 2px solid #f3f3f3;
    border-radius: 50%;
    border-top: 2px solid #1d1922;
    border-bottom: 2px solid #1a1919;
    width: 45px;
    height: 45px;
    -webkit-animation: spin 1s linear infinite;
    animation: spin 1s linear infinite;
    background: inherit;
    display: block;
    text-align: center;
    padding: 6px 3px;
    margin: auto;
  }
  
  @-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }

  .loader-wrapper{
    height: 80vh;
    width: 100vw;
    background: #f3f0f0;
    opacity: 0.5;
    display: flex;
    justify-content: center;
    align-items: center;

  }