.navbar{
    background: #ffffff !important;
    // background: #f3f6f9 !important;
    .nav-link{
      color:#141212 !important;
      font-size: .89rem;
      font-weight: 600;
      &:hover{
        color: #301d1d !important;
      }
    }
    #logo{
        color: #1a1717;
    }
  }
  
  
  
  