.navbar{
    background: #ffffff !important;
    // background: #f3f6f9 !important;
    .nav-link{
      color:#141212 !important;
      font-size: .89rem;
      font-weight: 600;
      &:hover{
        color: #301d1d !important;
      }
    }
    #logo{
        color: #1a1717;
    }
  }

  #bars{
    color: #050205;
    cursor: pointer;
    display: none;
    font-size: 2rem;
    &:hover{
      color: #808080;
      transition: all linear 2s ease-in-out;
    }
  }
  #toolbars{
    display: flex;
    justify-content: space-around;
  }
  
  
  
  #header{
    background: #ffffff !important;
    position: static !important;
    top: 6px;
  }