*{
  overflow-x: hidden;
  padding: 0;
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body{
  background: #ffffff;
  padding: auto;
  margin: auto;
}
@import './homepage';