*{
  overflow-x: hidden;
  padding: 0;
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body{
  background: #ffffff;
  padding: auto;
  margin: auto;
}
.login-btn-remember-me-wrapper{
  display: flex;
  justify-content: space-between;
  background-color: rebeccapurple;
}
@import './homepage';